/* GLOBAL STYLES */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 40px;
    margin: auto;
    line-height: 1.6;
    background-color: #fffef5f9;
    color: #313131;
}

hr {
    border-top: 2px solid rgb(44, 51, 62);
    margin: auto;
}

/* TABLE STYLES */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

button {
    background-color: rgb(32, 107, 227);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

button:hover {
    background-color: rgb(22, 87, 207);
}

button:active {
    background-color: rgb(12, 67, 187);
}

/* INPUT STYLES */
input, textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
}

/* OTHER STYLES */
.loading-gif {
    height: 1em;
    vertical-align: middle;
}


/* DASHBOARD STYLES */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar h3 {
    display: block;
    padding: 0 16px 0 16px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {float: left;}
        div.content {margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

/* FORM STYLE */
form {
    display: grid;
    grid-template-columns: 10% 30%;
}